<div class="row container-fluid">
    <div class="filter col-md-4" style="position: fixed">
        <div class="PersonalPanel panel panel-default ">
            <div class="panel-heading">Filtros:</div>
            <div class="panel-body">

                <br>
                <br>
                <br>

                <div class="input-group col-md-12">
                    <input type="text" class="form-control InputStyle" size="60" placeholder="Filtra las aventuras"
                           ng-model="search.$" required>
                <span class="input-group-btn">
                <button type="button" class="btn btn-info ButtonStyle">Buscar!</button>
                </span><br>
                </div>
                <div class="text-center">
                    <h5>Filtra tu busqueda por dificultad:</h5>
                    <form action="Dificultad">

                        <md-radio-group ng-model="search.difficulty" id="difficulty-radiobutton">
                            <md-radio-button value="Facil" class="md-primary">Fácil</md-radio-button>
                            <md-radio-button value="Media" class="md-primary">Media </md-radio-button>
                            <md-radio-button value="Dificil" class="md-primary">Díficil</md-radio-button>
                        </md-radio-group>
                        <md-radio-group ng-model="search">
                            <md-radio-button ng-click="getTodas()" class="md-primary" >Todas</md-radio-button>
                        </md-radio-group>
                    </form>
                </div>
                <br>
                <div class="text-center">
                    <h5>Busca tus aventuras mas cercanas:</h5>
                    <input type="text" class="form-control" placeholder="Filtra por radio en Km" ng-model="UpdateNear.radius" id="radius">
                    <br>
                    <p>
                        <button class="btn btn-success" ng-click="searchNearby()">Buscar aventuras cercanas</button>
                    </p><br>
                    <h5>O filtra entre todas las aventuras:</h5>
                    <p>
                        <button class="btn btn-warning" ng-click="getTodas()">Buscar aventuras</button>
                    </p>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
    <div class="showadventures col-md-8">

        <div class="col-md-12">
        <div id="ff" class="PersonalPanel panel panel-default" ng-if="!cerca" ng-repeat="adventure in adventures | filter:search">
            <td>{{adventure.name}}</td>
            <td>{{adventure.description}}</td>
            <td>{{adventure.difficulty}}</td>
            <td>{{adventure.initialPoint}}</td>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
        <div class="PersonalPanel panel panel-default" ng-if="cerca" ng-repeat="adventure in probando | filter:search">

            <td>{{adventure.name}}</td>
            <td>{{adventure.description}}</td>
            <td>{{adventure.difficulty}}</td>
            <td>{{adventure.initialPoint}}</td>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
        </div>
    </div>
</div>

