
<div ng-controller="PublicAdventureProfileCtrl" class="container-fluid">

    <div class="map col-md-7" >
        <ui-gmap-google-map center='map.center' zoom='map.zoom' options="options">
            <ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id">
            </ui-gmap-marker>
        </ui-gmap-google-map>

    </div>

    <div class="info col-md-5">
        <div class="panel panel-info">
            <div class=panel-heading"><h3>Información de la aventura:</h3></div>
            <div class="panel-body">
            <h4><b> Nombre:</b> {{AdventureProfileInfo.name}}</h4>
            <h4><b> Descripción:</b> {{AdventureProfileInfo.description}}</h4>
            <h4><b> Dificultad:</b> {{AdventureProfileInfo.difficulty}}</h4>
            <h4><b> mas:</b> faltara info de km y asi! y fotooooo!!</h4>
            </div>
        </div>
        <div class="detailBox">
            <div class="titleBox">
                <label>Comment Box</label>
                <button type="button" class="close" aria-hidden="true">&times;</button>
            </div>
            <div class="commentBox">

                <p class="taskDescription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="actionBox">
                <ul class="commentList">
                    <li>
                        <div class="commenterImage">
                            <img src="http://placekitten.com/50/50" />
                        </div>
                        <div class="commentText">
                            <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>

                        </div>
                    </li>
                    <li>
                        <div class="commenterImage">
                            <img src="http://placekitten.com/45/45" />
                        </div>
                        <div class="commentText">
                            <p class="">Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p> <span class="date sub-text">on March 5th, 2014</span>

                        </div>
                    </li>
                    <li>
                        <div class="commenterImage">
                            <img src="http://placekitten.com/40/40" />
                        </div>
                        <div class="commentText">
                            <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>

                        </div>
                    </li>
                </ul>
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Your comments" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>


