<div class="AdventureP" ng-controller="PublicAdventureProfileCtrl">
<div class="container">
    <div class="map col-md-7" >
        <ui-gmap-google-map center='map.center' zoom='map.zoom' options="options">
            <ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id">
            </ui-gmap-marker>
        </ui-gmap-google-map>
    </div>

    <div class="col-md-5">
        <md-card>
            <md-card-title>
                <md-card-title-text layout="column" style="max-width: 240px">
                    <span class="md-headline">{{AdventureProfileInfo.name}}</span>
                    <span style="color: limegreen" class="md-subhead" ng-if="AdventureProfileInfo.difficulty == 'Fácil'">{{AdventureProfileInfo.difficulty}}</span>
                    <span style="color: orange" class="md-subhead" ng-if="AdventureProfileInfo.difficulty == 'Media'">{{AdventureProfileInfo.difficulty}}</span>
                    <span style="color: red" class="md-subhead" ng-if="AdventureProfileInfo.difficulty == 'Díficl'">{{AdventureProfileInfo.difficulty}}</span>
                    <span class="md-text">dsaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media"><img style="max-height: 170px" ng-src="{{AdventureProfileInfo.image}}"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-if="false" layout-align="end" class="md-icon-button" aria-label="Favorite">
                    <i style="color: darkgrey" class="fa fa-heart"></i>
                </md-button>
                <md-button ng-if="true" layout-align="end" class="md-icon-button" aria-label="Favorite">
                            <i style="color: red" class="fa fa-heart"></i>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div class="col-md-5">
        <div class="detailBox">
            <div class="titleBox">
                <label><h4>Comentarios:</h4></label>

            </div>
            <div class="actionBox">
                <ul class="commentList" ng-repeat="comment in comments">
                    <li>
                        <button type="button" class="close" aria-hidden="true"></button>
                        <button type="button" class="btn btn-danger" ng-if="UserSessionId == comment.user" ng-click="deletecomment(comment._id)">Eliminar</button>
                        <div class="commenterImage">
                            <img src="http://placekitten.com/50/50" />
                        </div>
                        <div class="commentText">
                            <p class="">{{comment.text}}</p> <span class="date sub-text">{{comment.commentdate}}</span>
                        </div>
                    </li>
                </ul>
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Escribe tu comentario" ng-model="NewComment.text">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" ng-click="addcomment()">Añadir</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>


