<!-- CSS Milagroso para el mapa: https://github.com/angular-ui/angular-google-maps/issues/309#issuecomment-258463291 -->
<style type="text/css">
    .map-wrapper {
        position: relative;
        height: calc(101vh - 3em - 64px);
    }
    html {
        overflow-y: hidden;
        overflow-x: hidden;
    }
    body {
        background-color: #fafafa !important;
    }

    .angular-google-map-container {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .Padding{
        padding-top: 1%;
    }

    md-checkbox.md-checked.blue .md-icon {
        background-color: rgb(63,81,181);
    }
</style>

<div class="row container-fluid Padding" ng-controller="CreatorCtrl">
    <div class="col-md-12">
        <div class="row" id="blank">
        <div class="col-md-3">
            <div class="row">
                        <md-content>
                            <md-tabs md-dynamic-height>
                                <md-tab label="Vista" md-active>
                                    <div>
                                        <md-content class="md-padding">
                                            <span class="md-subhead">Localización</span>
                                            <br>
                                            <br>
                                            <md-input-container class="md-block">
                                                <label>Latitud</label>
                                                <input type="number" ng-model="map.center.latitude" step="0.001"/>
                                            </md-input-container>
                                            <md-input-container class="md-block">
                                                <label>Longitud</label>
                                                <input type="number" ng-model="map.center.longitude" step="0.001"/>
                                            </md-input-container>
                                            <hr>
                                            <md-slider-container>
                                                <span class="md-body-1">Zoom</span>
                                                <md-slider flex ng-model="map.zoom" min="1" max="21" aria-label="blue" id="blue-slider" class="md-primary">
                                                </md-slider>
                                                <md-input-container>
                                                    <input flex type="number" ng-model="map.zoom" aria-label="blue" aria-controls="blue-slider">
                                                </md-input-container>
                                            </md-slider-container>
                                            <hr>
                                            <h5>Modo diurno/nocturno</h5>
                                            <md-switch class="md-no-ink md-primary" ng-model="stylemap"  aria-label="Switch No Ink" ng-true-value="'Nocturno'" ng-false-value="'Diurno'"
                                                       ng-switch="SwitchStyleMap(stylemap)">
                                                <h5>{{ stylemap }}</h5>
                                            </md-switch>
                                            <hr>
                                            <h5>Mostrar</h5>
                                            <md-checkbox class="blue" ng-click="CheckBoxMarkersAventure()">Todas las aventuras</md-checkbox>
                                            </md-switch>
                                            <hr>
                                        </md-content>
                                    </div>

                                </md-tab>
                                <md-tab label="Aventuras">
                                    <div>
                                        <md-content class="md-padding">
                                            <div class="row center-block">
                                                <md-checkbox class="blue" ng-click="CheckBoxMarkersAventure()">Todas las aventuras</md-checkbox>
                                                <form>
                                                    <md-input-container class="md-block">
                                                        <label>Nombre de la Aventura</label>
                                                        <input ng-model="NewAdventure.name">
                                                    </md-input-container>
                                                    <md-input-container class="md-block">
                                                        <label>Descripción de la Aventura</label>
                                                        <input ng-model="NewAdventure.description">
                                                    </md-input-container>
                                                    <hr>
                                                    <md-input-container class="md-block">
                                                        <label>Pista Inicial: Texto</label>
                                                        <input ng-model="NewAdventure.hinttext">
                                                    </md-input-container>
                                                    <md-input-container class="md-block">
                                                        <label>Pista Inicial: Texto</label>
                                                        <input ng-model="NewAdventure.hintimage">
                                                    </md-input-container>
                                                    <hr>
                                                    <div class="form-group">
                                                        <label for="difficulty-radiobutton">Dificultad Aventura</label>
                                                        <md-radio-group ng-model="NewAdventure.difficulty" id="difficulty-radiobutton">
                                                            <md-radio-button value="Fácil" class="md-primary">Fácil</md-radio-button>
                                                            <md-radio-button value="Media" class="md-primary">Media </md-radio-button>
                                                            <md-radio-button value="Díficil" class="md-primary">Díficil</md-radio-button>
                                                        </md-radio-group>
                                                    </div>
                                                    <br>
                                                    <button type="button" class="btn btn-success btn-block" ng-click="CreateAdventure()">Crear Aventura</button>
                                                    <br>
                                                </form>
                                            </div>
                                        </md-content>
                                    </div>
                                </md-tab>
                                <md-tab label="Pistas">
                                    <div>
                                        <md-content class="md-padding">
                                            <div class="row center-block">
                                                <button ng-click="ShowHintofAdventureonMap()">Print Hints de {{SelectedAdv._id}} </button>
                                                <form>
                                                    <div class="form-group">
                                                        <label for="texthint-input">Texto de la Pista</label>
                                                        <input class="form-control" type="text" ng-model="NewHint.text" id="texthint-input">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="imagehint-input">URI de la Imagen</label>
                                                        <input class="form-control" type="text" ng-model="NewHint.image" id="imagehint-input">
                                                    </div>
                                                    <br>
                                                    <button type="button" class="btn btn-success btn-block" ng-click="CreateHint(SelectedAdv)">Crear Pista</button>
                                                    <br>
                                                </form>
                                            </div>
                                        </md-content>
                                    </div>
                                </md-tab>
                            </md-tabs>
                        </md-content>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12 map-wrapper">
                    <ui-gmap-google-map center='map.center' zoom='map.zoom' options="options" events="map.events">
                        <!-- Marker central -->
                        <ui-gmap-marker coords="map.clickedMarker"  idKey="map.clickedMarker.id" options="map.clickedMarker.options">
                        </ui-gmap-marker>
                        <!-- Marker create -->
                        <ui-gmap-marker coords="map.createMarker"  idKey="map.createMarker.id" options="map.createMarker.options">
                        </ui-gmap-marker>
                        <!--- Markers Aventuras -->

                        <ui-gmap-marker ng-repeat="m in map.markerAdventures" coords='m' click="!m.showWindow" icon='m.icon' idKey="m._id" options="m.options">
                            <ui-gmap-window ng-cloak>
                                <div class="scrollFix">
                                        <md-card class="mdcard">
                                        <md-card-title>
                                            <md-card-title-text>
                                                <span class="md-headline">{{m.name}}</span>
                                                <span class="md-subhead">
                                                    {{m.description}}
                                                    <br>
                                                    {{m.latitude}},{{m.longitude}}
                                                </span>
                                            </md-card-title-text>
                                            <md-card-title-media>
                                                <div class="card-media">
                                                    <img style="max-height: 100px; max-width: 100px" ng-src="{{m.image}}">
                                                </div>
                                            </md-card-title-media>
                                        </md-card-title>
                                        <md-card-actions style="background-color: #00ADB5; color: white">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h5><b>Dificultad:</b> {{m.difficulty}}</h5>
                                                    <button href=#/adventureprofile/{{m._id}}" type="button" class="btn btn-default">Detalles</button>
                                                    <button ng-click="$parent.ActivHintCreator(true); $parent.SelAdventureforHint(idKey);" type="button" class="btn btn-warning">Añadir Pista</button>
                                                    <button type="button" class="btn btn-danger">Eliminar Aventura</button>
                                                </div>
                                            </div>
                                        </md-card-actions>
                                        </md-card>
                                </div>
                            </ui-gmap-window>
                        </ui-gmap-marker>

                        <ui-gmap-marker ng-repeat="h in map.markersHints" coords='h' click="!h.showWindow" icon='h.icon' idKey="h._id" options="h.options">
                            <ui-gmap-window ng-cloak>
                                <div class="scrollFix">
                                  Pista: {{h.index}}
                                  Name: {{h.text}}
                                  Loc: {{m.latitude}},{{m.longitude}}
                                </div>
                            </ui-gmap-window>
                        </ui-gmap-marker>
                    </ui-gmap-google-map>
                    <div ng-if="ErrorMsg" class="alert alert-danger text-center" role="alert">{{ErrorMsg}}</div>
                    <div ng-if="SuccessMsg" class="alert alert-success text-center" role="alert">{{SuccessMsg}}</div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>