<!-- CSS Milagroso para el mapa: https://github.com/angular-ui/angular-google-maps/issues/309#issuecomment-258463291 -->
<style type="text/css">
    .map-wrapper {
        position: relative;
        height: calc(101vh - 3em - 64px);
    }
    html {
        overflow-y: hidden;
        overflow-x: hidden;
    }
    body {
        background-color: #fafafa !important;
    }

    .angular-google-map-container {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .Padding{
        padding-top: 1.5em;
    }

    md-checkbox.md-checked.blue .md-icon {
        background-color: rgb(63,81,181);
    }
    md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
        height: calc(101vh - 3em - 64px);
    }

    .md-card{
        box-shadow: 0;
        margin: 0;
    }
</style>

<div class="row container-fluid Padding" ng-controller="CreatorCtrl">
    <div class="col-md-12">
        <div class="row" id="blank">
        <div class="col-md-3">
            <div class="row">
                    <md-content>
                        <md-tabs>
                            <md-tab label="Vista" md-active="IsTabVistaActive">
                                <div>
                                    <md-content class="md-padding">
                                        <md-input-container class="md-block" flex-gt-xs>
                                            <label>Latitud</label>
                                            <input type="number" ng-model="map.center.latitude" step="0.01"/>
                                        </md-input-container>
                                        <md-input-container class="md-block">
                                            <label>Longitud</label>
                                            <input type="number" ng-model="map.center.longitude" step="0.001"/>
                                        </md-input-container>
                                        <md-slider-container>
                                            <span class="md-body-1">Zoom</span>
                                            <md-slider flex ng-model="map.zoom" min="1" max="21" aria-label="blue" id="blue-slider" class="md-primary">
                                            </md-slider>
                                            <md-input-container>
                                                <input flex type="number" ng-model="map.zoom" aria-label="blue" aria-controls="blue-slider">
                                            </md-input-container>
                                        </md-slider-container>
                                        <h5>Modo diurno/nocturno</h5>
                                        <md-switch class="md-no-ink md-primary" ng-model="stylemap"  aria-label="Switch No Ink" ng-true-value="'Nocturno'" ng-false-value="'Diurno'"
                                                   ng-switch="SwitchStyleMap(stylemap)">
                                            <h5>{{ stylemap }}</h5>
                                        </md-switch>
                                        <hr>
                                        <h5>Mostrar</h5>
                                        <md-checkbox class="blue" ng-checked="IsCheckBoxMarkAdvActive" ng-click="CheckBoxMarkersAventure()">Todas las aventuras</md-checkbox>
                                        </md-switch>
                                        <hr>
                                        <md-button ng-click="log(); SwitchTabs('Pistas');" class="md-raised" style="padding-left: 10px;padding-right: 10px;">
                                            Show Custom Toast
                                        </md-button>
                                    </md-content>
                                </div>
                            </md-tab>
                            <md-tab label="Creación" md-active="IsTabAventurasActive">
                                <div>
                                    <md-content class="md-padding">
                                        <div class="row center-block">
                                            <span class="md-subhead">Mostrar</span>
                                            <br>
                                            <br>
                                            <md-checkbox class="blue" ng-checked="IsCheckBoxMarkAdvActive" ng-click="CheckBoxMarkersAventure()">Todas las aventuras</md-checkbox>
                                            <div ng-show="IsAdventureFinished">
                                                <hr>
                                                <md-card style="background-color: rgba(221, 221, 221, 0.18);">
                                                    <md-card-title>
                                                        <md-card-title-text>
                                                            <span class="md-headline" style="padding-right: 25px;">{{SelectedAdv.name}}</span>
                                                            <br>
                                                            <br>
                                                            <span class="md-subhead">{{SelectedAdv.description}}</span>
                                                            <span class="md-subhead">Dificultad: {{SelectedAdv.difficulty}}</span>
                                                            <span class="md-subhead">Número de pistas: {{SelectedAdv.hints.length}}</span>

                                                        </md-card-title-text>
                                                        <md-card-title-media>
                                                            <div class="md-media-sm card-media">
                                                                <img class="md-user-avatar" ng-src="{{SelectedAdv.image}}"/>
                                                            </div>
                                                        </md-card-title-media>
                                                    </md-card-title>
                                                </md-card>
                                            </div>
                                            <hr>
                                            <span class="md-subhead">Adventuras</span>
                                            <form>
                                                <md-button class="md-primary" ng-disabled="IsAdventurePos || IsAdventureFinished" ng-click="showProcessCrAdv($event)">
                                                    Crear una Aventura
                                                </md-button>
                                            </form>
                                            <hr>
                                            <span class="md-subhead">Pistas</span>
                                            <form>
                                                <md-button class="md-primary" ng-disabled="!IsAdventureFinished" ng-click="showPopUpCrHint($event)">
                                                    Agregar una Pista
                                                </md-button>
                                            </form>
                                        </div>
                                        <hr>
                                        <md-button ng-click="ShowHintofAdventureonMap(); IsAdventureFinished=true;" class="md-raised" style="padding-left: 10px;padding-right: 10px;">
                                            Print Hints
                                        </md-button>
                                    </md-content>
                                </div>
                            </md-tab>
                        </md-tabs>
                    </md-content>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row" id="map">
                <div class="col-md-12 map-wrapper">
                    <ui-gmap-google-map center='map.center' zoom='map.zoom' options="options" events="map.events">
                        <!-- Marker create -->
                        <ui-gmap-marker ng-if="IsMarkerCreatorActive" coords="map.createMarker" idKey="map.createMarker.id" options="map.createMarker.options">
                        </ui-gmap-marker>
                        <!--- Markers Aventuras -->

                        <ui-gmap-marker ng-repeat="m in map.markerAdventures track by $index" coords='m' click="!m.showWindow" icon='m.icon' idKey="m._id" options="m.options">
                            <ui-gmap-window>
                                <md-card class="md-card">
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline" style="padding-right: 25px;">{{m.name}}</span>
                                            <br>
                                            <br>
                                            <span class="md-subhead">{{m.description}}</span>
                                            <span class="md-subhead">Dificultad: {{m.difficulty}}</span>
                                        </md-card-title-text>
                                        <md-card-title-media>
                                            <div class="md-media-sm card-media">
                                                <img class="md-user-avatar" ng-src="{{m.image}}"/>
                                            </div>
                                        </md-card-title-media>
                                    </md-card-title>
                                    <md-card-actions layout="row" layout-align="end center">
                                        <div do-not-compile="">
                                            <md-button class="md-raised md-primary" ng-click="$parent.SelAdventureforHint($parent.m._id)">Agregar una Pista</md-button>
                                        </div>
                                    </md-card-actions>
                                </md-card>
                            </ui-gmap-window>
                        </ui-gmap-marker>

                        <ui-gmap-marker ng-repeat="h in map.markersHints" coords='h' click="!h.showWindow" icon='h.icon' idKey="h._id" options="h.options">
                            <ui-gmap-window>
                                <div class="scrollFix">
                                  Pista: {{h.index}}
                                  Name: {{h.text}}
                                  Loc: {{m.latitude}},{{m.longitude}}
                                </div>
                            </ui-gmap-window>
                        </ui-gmap-marker>
                    </ui-gmap-google-map>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>


<script type="text/ng-template" id="dialogCreateAdv.tmpl.html"><md-dialog aria-label="Mango (Fruit)">
<form ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Creación de una Aventura</h2>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <form name="FirstCreateAdvForm">
                <span>Datos de la Aventura</span>
                <md-input-container md-no-float class="md-block">
                    <input required ng-model="ctrl.parent.NewAdventure.name" placeholder="Nombre de la Aventura">
                </md-input-container>

                <md-input-container md-no-float class="md-block">
                    <textarea required ng-model="ctrl.parent.NewAdventure.description" rows="4" md-maxlength="150"
                              ng-maxlength="150" placeholder="Descripción de la Aventura...">
                    </textarea>
                </md-input-container>
                <hr>
                <div class="form-group">
                    <label for="difficulty-radiobutton">Dificultad Aventura</label>
                    <md-radio-group ng-model="ctrl.parent.NewAdventure.difficulty" id="difficulty-radiobutton"
                    ng-required="true">
                        <md-radio-button value="Fácil" class="md-primary">Fácil</md-radio-button>
                        <md-radio-button value="Media" class="md-primary">Media </md-radio-button>
                        <md-radio-button value="Díficil" class="md-primary">Díficil</md-radio-button>
                    </md-radio-group>
                </div>
            </form>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="ctrl.parent.cancel()">
            Cancelar
        </md-button>
        <md-button ng-disabled="!ctrl.parent.NewAdventure.name || !ctrl.parent.NewAdventure.description || !ctrl.parent.NewAdventure.difficulty"
                    md-autofocus ng-click="ctrl.parent.hide(); ctrl.parent.IsAdventureInputsFilled = true;
                    ctrl.parent.IsMarkerCreatorActive = true;">
            Siguiente
        </md-button>
    </md-dialog-actions>
</form>
</md-dialog>
</script>

<script type="text/ng-template" id="dialogAggHint.tmpl.html"><md-dialog aria-label="Mango (Fruit)">
<form ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Agregar una Pista</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
                <form>
                    <md-input-container md-no-float class="md-block">
                        <input required ng-model="ctrl.parent.NewAdventure.hinttext" placeholder="Texto de la Pista">
                    </md-input-container>

                    <md-input-container md-no-float class="md-block">
                        <input ng-model="ctrl.parent.NewAdventure.hintimage" placeholder="URI de la Imagen">
                    </md-input-container>
                </form>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="ctrl.parent.cancel()">
            Cancelar
        </md-button>
        <md-button ng-disabled="!ctrl.parent.NewAdventure.hinttext"
                   md-autofocus ng-click="ctrl.parent.hide(); ctrl.parent.IsFirstHintFilled = true;">
            Finalizar
        </md-button>
    </md-dialog-actions>
</form>
</md-dialog>
</script>

<script type="text/ng-template" id="dialogAggHintWFinal.tmpl.html"><md-dialog aria-label="Mango (Fruit)">
<form ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Agregar una Pista</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <form>
                <md-input-container md-no-float class="md-block">
                    <input required ng-model="ctrl.parent.NewHint.text" placeholder="Texto de la Pista">
                </md-input-container>

                <md-input-container md-no-float class="md-block">
                    <input ng-model="ctrl.parent.NewAdventure.hint" placeholder="URI de la Imagen">
                </md-input-container>
            </form>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="ctrl.parent.cancel()">
            Cancelar
        </md-button>
        <md-button ng-disabled="!ctrl.parent.NewHint.text"
                   md-autofocus ng-click="ctrl.parent.hide(); ctrl.parent.IsNewHintFilled = true">
            Siguiente
        </md-button>
    </md-dialog-actions>
</form>
</md-dialog>
</script>

<script type="text/ng-template" id="assignPoint.html"><md-toast>
    <md-toast>
        <span class="md-toast-text" flex>Ubicar la Aventura</span>
        <md-button ng-click="closeToast(); IsMarkerCreatorActive=false;">
            Siguiente
        </md-button>
    </md-toast>
</script>

<script type="text/ng-template" id="assignHint.html"><md-toast>
    <md-toast>
        <span class="md-toast-text" flex>Ubicar la Pista</span>
        <md-button ng-click="closeToast(); IsMarkerCreatorActive=false;">
            Siguiente
        </md-button>
    </md-toast>
</script>
