<nav role="navigation" class="navbar navbar-default navbar-fixed-top" id="navbarstyle" onload="select(1)">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
        <div class="col-md-2">
        <div class="navbar-header">
        <a ng-href="#/index" class="navbar-brand"><img id="imgbrand" alt="GeoFinder" src="../images/GeoLogo2.png"></a>
        </div>
        </div>
        <div class="col-md-3"></div>
        <!--TYPEAHEAD-->
        <div class="col-md-6 collapse navbar-collapse">
        <div class="row">
        <form class="navbar-form" role="search">
            <div  class='container-fluid typeahead-demo'>
                <input ng-if="!flag" type="text" placeholder="Busca usuarios" ng-model="userSelected.used" typeahead-on-select="onSelect($item, $model, $label)" ng-model-options="modelOptions"  uib-typeahead="user for user in users | filter:{username:$viewValue} | limitTo:5" typeahead-template-url="/uib/template/typeahead/typeahead-match.html" typeahead-popup-template-url="/uib/template/typeahead/typeahead-popup.html" class="form-control">
                <input ng-if="flag" type="text" placeholder="Busca aventuras" ng-model="userSelected.used" typeahead-on-select="onSelect($item, $model, $label)" ng-model-options="modelOptions"  uib-typeahead="adventure for adventure in adventures | filter:{name:$viewValue} | limitTo:5" typeahead-template-url="/uib/template/typeahead/typeahead-match2.html" typeahead-popup-template-url="/uib/template/typeahead/typeahead-popup.html" class="form-control">
                <select class="form-control" ng-change="cambio()" ng-options="option as option.name for option in options track by option.id" ng-model="sel"></select>
            </div>
        </form>
        </div>
        </div>
        <!--TYPEAHEAD-->
        <div class="col-md-3 navbar-right">
            <div class="row">
            <div class="col-md-12">
            <div class="col-md-12 navbar-text" ng-if="UserSessionId == undefined">
                <a style="color: white" ng-href="#/login">Iniciar Sesión <i class="fa fa-sign-in" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-6">
                    <md-button class="md-fab md-mini md-primary navbar-right" ng-if="UserSessionId" style=" background-color: #00db83; color: white" ng-href="#/creator"><i class="fa fa-plus" aria-hidden="true"></i></md-button>
            </div>
            <div class="col-md-6">
            <li class="nav navbar-nav navbar-right dropdown" ng-if="UserSessionId">
                <a style="color: white" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img class="img-rounded img-size-header" style="height: 40px; width: 40px" ng-src="{{UserSessionId.photo}}"><span class="caret"></span></a>
                <ul class="dropdown-menu nav navbar-nav navbar-right">
                    <li><a ng-href="#/creator"><i class="fa fa-plus" aria-hidden="true"></i> Crear Aventura</a></li>
                    <li><a ng-href="#/adventures"><i class="fa fa-search" aria-hidden="true"></i> Buscar Aventuras</a></li>
                    <li><a ng-href="#/ranking"><i class="fa fa-users" aria-hidden="true"></i> Clasificación</a></li>
                    <li><a ng-href="#/userprofile/{{UserSessionId._id}}"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Mi Perfil</a></li>
                    <li><a ng-href="#/useradventures"><i class="fa fa-tree" aria-hidden="true"></i> Administrar Aventuras</a></li>
                    <li><a ng-href="#/profile"><i class="fa fa-cog" aria-hidden="true"></i> Editar Perfil</a></li>
                    <li><a ng-href="/user/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar Sesión</a></li>
                </ul>
            </li>
            </div>
            </div>
            </div>
        </div>
        </div>
        </div>
    </div>
</nav>