<div ng-controller="HomeCtrl">
<div ng-if="UserSessionId == undefined"><!-- Init of ng if user is not logged in -->
<div class="container-fluid jumbotron text-center" id="banner">
    <div class="row center-block">
        <div class="col-md-12">
            <h1>¡Empieza tu Aventura!</h1>
            <md-button class="md-raised md-primary" ng-href="#/register" style="background-color: #00ADB5; color: white">Regístrate <i class="fa fa-pencil-square-o"></i></md-button>
        </div>
    </div>
</div>
<div class="container">
 <div class="row">
     <div class="col-md-12">
     <div class="col-md-4">
         <md-card>
             <img ng-src="/../images/descubrir2.jpg" class="md-card-image" alt="Washed Out" >
             <md-card-title>
                 <md-card-title-text>
                     <span class="md-headline">Descubre Aventuras</span>
                 </md-card-title-text>
             </md-card-title>
             <md-card-actions layout="column" layout-align="start">
                 <md-button class="md-raised" style="background-color: #00ADB5; color: white" ng-href="#/adventures"><i class="fa fa-binoculars"></i></md-button>
             </md-card-actions>
         </md-card>
     </div>
     <div class="col-md-4">
         <md-card>
             <img ng-src="/../images/compartir.jpg" class="md-card-image" alt="Washed Out" >
             <md-card-title>
                 <md-card-title-text>
                     <span class="md-headline">Juega en tu dispositivo</span>
                 </md-card-title-text>
             </md-card-title>
             <md-card-actions layout="column" layout-align="start">
                 <md-button class="md-raised" style="background-color: #00ADB5; color: white" href="https://github.com/EAG1Q16/GeoApp1.0"><i class="fa fa-play"></i></md-button>
             </md-card-actions>
         </md-card>
     </div>
     <div class="col-md-4">
         <md-card>
             <img ng-src="/../images/senderismo.jpg" class="md-card-image" alt="Washed Out">
             <md-card-title>
                 <md-card-title-text>
                     <span class="md-headline">Compartelo con tus amigos</span>
                 </md-card-title-text>
             </md-card-title>
             <md-card-actions layout="column" layout-align="start">
                 <md-button class="md-raised" style="background-color: #00ADB5; color: white" href="https://twitter.com/share" data-text="Aplicación chuli" data-url="https://www.geofinder.tech" data-hashtags="GeoFinder" data-show-count="false"><i class="fa fa-heart"></i><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></md-button>

                 <!--<md-button class="md-raised" style="background-color: #00ADB5; color: white" href="http://twitter.com/ea_eetac"><i class="fa fa-heart"></i></md-button>-->
             </md-card-actions>
         </md-card>
     </div>
     </div>
 </div>
 </div>
</div> <!-- End of ng if user is not logged in -->

<div ng-if="UserSessionId" class="UserHomeLog container"><!-- init of ng if user is logged in -->
    <div class="row">
    <div class="col-md-12">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <md-card>
                    <img ng-src="{{UserHome.photo}}" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{UserHome.name}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p>{{UserHome.description}}</p>
                    </md-card-content>
                    <md-card-content layout="row" layout-align="space-around" style="background-color: #00ADB5; color: white">
                        <h5><b>Siguiendo:</b> {{UserHome.following.length}}</h5>
                        <md-divider></md-divider>
                        <h5><b>Seguidores:</b> {{UserHome.followers.length}}</h5>
                    </md-card-content>
                </md-card>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <md-card>
                    <md-card-header class="customColor">
                        <div class="panel-title"><b><i class=" fa fa-diamond"></i> Rango:</b> {{UserHome.score}}</div>
                    </md-card-header>
                    <md-content>
                        <img ng-if="UserHome.adventures.created.length >= 0 && UserHome.adventures.created.length <150" class="img-responsive center-block" height="100px" width="100px" src="../images/CAmpista.png">
                        <img ng-if="UserHome.adventures.created.length >= 150 && UserHome.adventures.created.length <300" class="img-responsive center-block" height="100px" width="100px" src="../images/Navegante.png">
                        <img ng-if="UserHome.adventures.created.length >= 300 && UserHome.adventures.created.length<450" class="img-responsive center-block" height="100px" width="100px" src="../images/Montañero.png">
                        <img ng-if="UserHome.adventures.created.length >= 450 " class="img-responsive center-block" height="100px" width="100px" src="../images/Aventurero.png">
                    </md-content>
                </md-card>
            </div>
        </div>

    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <br>
                <div ng-if="FollowingAdvs.length == 0" ng-init="recomendedUser()">
                    <div class="alert alert-info text-center">
                    <h5>Todavía no sigues ningún aventurero, te recomendamos  algunos de los más audaces</h5>
                    </div>
                    <md-card ng-repeat="user in users | orderBy: '-score' | limitTo: '5'">
                        <a style="color: inherit" ng-href="#/userprofile/{{user._id}}"><md-card-content>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-2">
                                        <img class="img-circle" style="height: 100px; width: 100px" ng-src="{{user.photo}}">
                                    </div>
                                    <div class="col-md-8">
                                        <h3>{{user.name}}</h3>
                                    </div>
                                    <div class="col-md-2">
                                        <img ng-if="user.score >=0 && user.score <150" class="img-responsive" height="65px" width="65px" src="../images/CAmpista.png">
                                        <img ng-if="user.score >= 150 && user.score <300" class="img-responsive center-block" height="65px" width="65px" src="../images/Navegante.png">
                                        <img ng-if="user.score >= 300 && user.score <450" class="img-responsive center-block" height="65px" width="65px" src="../images/Montañero.png">
                                        <img ng-if="user.score >= 450 " class="img-responsive center-block" height="65px" width="65px" src="../images/Aventurero.png">
                                    </div>
                                    <div class="col-md-8">
                                        <h5>{{user.description}}</h5>
                                    </div>
                                    <div class="col-md-2">
                                        <h5><b>Puntos:</b> {{user.score}}</h5>
                                    </div>
                                </div>
                            </div>
                        </md-card-content></a>
                    </md-card>
                 </div>

                <div ng-repeat="FollowingAdv in FollowingAdvs">
                    <div class="alert alert-info text-center" ng-if="FollowingAdv.adventures.created.length == 0">
                        Tus amigos aún no han creado ningúna aventura, anímales a hacerlo!
                    </div>
                    <md-card ng-repeat="adventure in FollowingAdv.adventures.created | orderBy: adventure.registerdate">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{adventure.name}}</span>
                                <span class="md-subhead">{{adventure.description}}</span>
                                <span class="md-subhead">{{adventure.registerdate}}</span>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="card-media">
                                    <img class="img-rounded" style="max-height: 170px; max-width: 400px" ng-src="{{adventure.image}}">
                                </div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions style="background-color: #00ADB5; color: white">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-10">
                                        <div class="col-md-3">
                                            <h5><b>Dificultad:</b> {{adventure.difficulty}}</h5>
                                        </div>
                                        <div class="col-md-7">
                                            <h5><b>Favs:</b> {{adventure.favs}}</h5>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <md-button href="#/adventureprofile/{{adventure._id}}">Detalles</md-button>
                                    </div>
                                </div>
                            </div>
                        </md-card-actions>
                    </md-card>
                </div>
            </div>
        </div>
    </div>
    </div><!-- End of colmd-12 -->
    </div><!-- End of row-->
</div><!-- End of ng if user is logged in -->
</div>

