<div class="content" ng-controller="HomeCtrl">

<div class="container-fluid jumbotron text-center" id="banner">
    <div class="row center-block">
    <div>
    <h1>¡Empieza tu Aventura!</h1>
    </div>
    <div>
    <a type="button" class="btn btn-lg btn-success ButtonStyle" ng-href="#/register">Registrate <i class="fa fa-pencil-square-o"></i></a>
    </div>
    </div>
</div>
    <div class="container-fluid text-center">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <h2>Encuentra</h2>
            <h4 class="text-justify">Busca las mejores aventuras de tu zona</h4>
        </div>
        <div class="col-md-3">
            <h2>Crea</h2>
            <h4 class="text-justify">Empieza a crear aventuras y compartirlas con los usuarios de todo el mundo, incluso puedes jugarlas tu mismo</h4>
        </div>
        <div class="col-md-3">
            <h2>Juega</h2>
            <h4 class="text-justify">Selecciona las aventuras que más te gusten en la web y despues juegalas en el móvil</h4>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="container-fluid bg-blue">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <h2>Descarga la Aplicación</h2>
            </div>
            <div class="col-md-6">
                <h4 class="text-justify">lorem ipsum intra</h4>
            </div>
            <div class="col-md-4">
                <h4>Aventura</h4>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid text-center">
        <div class="row">
            <div class="col-md-4">
                <h1>Aventura</h1>
                <p>lorem</p>
            </div>
            <div class="col-md-4">
                <h1>Aventura</h1>
                <p>lorem ipsum intra</p>
            </div>
            <div class="col-md-4">
                <h1>Aventura</h1>
                <p>lorem ipsum intra</p>
            </div>
        </div>
</div>
</div>