
<div class="container-fluid">
    <div class="row center-block PaddingBodyMap" ng-controller="MapsCtrl">
        <div class="col-md-9">
                <ui-gmap-google-map center='map.center' zoom='map.zoom' options="options">
                    <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                    </ui-gmap-marker>

                    <ui-gmap-marker ng-repeat="m in map.markerAdventures" coords='m' icon='m.icon' idKey="m.id" options="m.options"></ui-gmap-marker>
                </ui-gmap-google-map>
            <div ng-if="ErrorMsg" class="alert alert-danger text-center" role="alert">{{ErrorMsg}}</div>
            <div ng-if="SuccessMsg" class="alert alert-success text-center" role="alert">{{SuccessMsg}}</div>
        </div>
        <div class="col-md-3">
            <div class="col-md-12" id="LateralMenu">
                <div class="row center-block">
                    <h5>Latitud</h5>
                    <input type="number" ng-model="marker.coords.latitude" step="0.001"/>
                    <h5>Longitud</h5>
                    <input type="number" ng-model="marker.coords.longitude" step="0.001"/>
                </div>
                <div class="row center-block">
                    <h5>Estilo del Mapa</h5>
                    <button ng-click="SwitchStyleMap()">{{stylemap}}</button>
                </div>
                <div class="row center-block">
                    <h5>Print Todas las Adventuras</h5>
                    <button ng-click="PrintMarkersAdventuresMap()">Print Adventures</button>
                </div>
                <div class="row center-block">
                    <h4>Zoom mapa: {{map.zoom}}</h4>
                </div>
                <div class="row center-block">
                    <form>
                        <div class="form-group">
                            <label for="name-input">Nombre Aventura</label>
                            <input class="form-control" type="text" ng-model="NewAdventure.name" id="name-input">
                        </div>
                        <div class="form-group">
                            <label for="description-input">Descripción</label>
                            <input class="form-control" type="text" ng-model="NewAdventure.description" id="description-input">
                        </div>
                        <div class="form-group">
                            <label for="difficulty-radiobutton">Dificultad Aventura</label>
                            <md-radio-group ng-model="NewAdventure.difficulty" id="difficulty-radiobutton">
                                <md-radio-button value="Fácil" class="md-primary">Fácil</md-radio-button>
                                <md-radio-button value="Media" class="md-primary">Media </md-radio-button>
                                <md-radio-button value="Díficil" class="md-primary">Díficil</md-radio-button>
                            </md-radio-group>
                        </div>
                        <div class="form-group">
                            <label for="initialPoint-input">Punto Inicial (Lon, Lat)</label>
                            <textarea class="form-control" rows="3" ng-model="NewAdventure.location_coordinates" id="initialPoint-input"></textarea>
                        </div>
                        <br>
                        <button type="button" class="btn btn-success btn-block" ng-click="CreateAdventure()">Crear Aventura</button>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>