<div class="container ErrorPage">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <div class="row">
                <h1>Regístarte para poder ver este contenido</h1>
                <img class="img-responsive center-block" style="max-height: 300px; max-width: 300px" src="../images/gandalfgeo.png">
                <h5>O si ya tienes cuenta inicia sesión</h5>
                </div>
                <div class="row">
                <div class="error-actions">
                    <md-button class="md-raised md-primary" ng-href="#/register" style="background-color: limegreen; color: white">Regístrate <i class="fa fa-pencil-square-o"></i></md-button>
                    <md-button class="md-raised md-primary" ng-href="#/login" style="background-color: #00b3ee; color: white">Inicia sesión <i class="fa fa-sign-in"></i></md-button>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>