<div id="ProfileContainer" ng-controller="ProfileCtrl">
    <div class="container">
    <div class="row">
    <div class="col-md-8">
    <div class="panel panel-success PersonalPanel">
        <div class="panel-heading">
            <div class="panel-title"><b><i class="fa fa-user-circle-o"></i> Información de Usuario:</b></div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="usr">Nombre:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="usr" placeholder="{{UserProfileInfo.name}}" ng-model="UpdatedUser.name">
                    <span class="input-group-btn">
                <button class="btn btn-warning" type="button" ng-click="UpdateName()">Modificar Nombre</button>
                </span>
                </div>
            </div>
            <div class="form-group">
                <label for="usrname">Nombre de Usuario:</label>
                <div class="input-group">
                <input type="text" class="form-control" id="usrname" placeholder="{{UserProfileInfo.username}}" ng-model="UpdatedUser.username">
                <span class="input-group-btn">
                <button class="btn btn-warning" type="button" ng-click="UpdateUsername()">Modificar Usuario</button>
                </span>
                </div>
            </div>
            <div class="form-group">
                <label for="description">Descripción:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="description" placeholder="{{UserProfileInfo.description}}" ng-model="UpdatedUser.description">
                    <span class="input-group-btn">
                <button class="btn btn-warning" type="button" ng-click="UpdateDescription()">Modificar Biografía</button>
                </span>
                </div>
            </div>
            <div class="form-group">
                <label for="foto">Enlace de la Foto:</label>
                <div class="input-group">
                <input type="text" class="form-control" id="foto" placeholder="{{UserProfileInfo.photo}}" ng-model="UpdatedUser.photo">
                    <span class="input-group-btn">
                <button class="btn btn-warning" type="button" ng-click="UpdatePhoto()">Modificar Imagen</button>
                </span>
                </div>
            </div>
            <div class="form-group">
                <label for="pwd">Contraseña:</label>
                <div class="input-group">
                <input type="password" class="form-control" id="pwd" placeholder="Contraseña" ng-model="UpdatedUser.password">
                    <span class="input-group-btn">
                <button class="btn btn-warning" type="button" ng-click="UpdatePassword()">Modificar Contraseña</button>
                </span>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col-md-4">
                <div class="panel panel-info PersonalPanel">
                    <div class="panel-heading">
                        <div class="panel-title"><b><i class="fa fa-users"></i> Administrar Seguidores:</b></div>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
    </div>
    </div>
</div>
