<div id="ProfileContainer" ng-controller="ProfileCtrl">
    <div class=" container-fluid">
        <div class="row">
        <div class="card hovercard">
            <div class="card-background">
                <img class="card-bkimg" alt="" ng-src={{UserProfileInfo.photo}}>
            </div>
            <div class="useravatar">
                <img alt="" ng-src={{UserProfileInfo.photo}}>
            </div>
            <div class="card-info"> <span class="card-title">{{UserProfileInfo.username}}</span>

            </div>
        </div>
        <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" id="myprofile" class="btn btn-profile active" href="#tab2"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <div class="hidden-xs">Mi Perfil</div>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="stars" class="btn btn-profile" href="#tab1" ><span class="glyphicon glyphicon-tent" aria-hidden="true"></span>
                    <div class="hidden-xs">Aventuras Creadas</div>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="favorites" class="btn btn-profile" href="#tab2"><span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span>
                    <div class="hidden-xs">Aventuras jugadas</div>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="following" class="btn btn-profile" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                    <div class="hidden-xs">Seguidos</div>
                </button>
            </div>
        </div>
            <br>
    </div>
        <table class="table">
            <tr class="info">
                <td>Nombre</td>
                <td>Correo</td>
                <td>Username</td>
                <td></td>
            </tr>
            <tr>
                <td>{{UserProfileInfo.name}}</td>
                <td>{{UserProfileInfo.email}}</td>
                <td>{{UserProfileInfo.username}}</td>
            </tr>
        </table>

    </div>
    </div>

</div>
