<div id="ProfileContainer" ng-controller="ProfileCtrl">
    <div class="container">
    <div class="row">
    <div class="col-md-7">
    <md-card>
        <md-card-header class="customColor">
            <md-card-header-text>
            <div class="panel-title"><b><i class="fa fa-user-circle-o"></i> Información de Usuario:</b></div>
            </md-card-header-text>
        </md-card-header>
        <md-card-content id="testid">
            <div class="row">
                <div class="col-md-3" style="padding-left: 7%">
                    <img ng-src="{{UpdatedUser.photo}}" class="img-rounded" height="150px" width="150px" alt="Washed Out">
                </div>
                <div class="col-md-4" style="padding-top: 5%; padding-left: 6%" >
                    <br  ng-show="myFile == undefined">
                    <input type="file" file-model="myFile" id="InputFileID" class="ng-hide"/>
                    <md-button class="md-raised" ng-click="replaceElement()" ng-show="myFile == undefined">Seleccionar imagen</md-button>
                    <md-button class="md-raised" ng-click="uploadFile()" ng-show="myFile != undefined">Subir</md-button>
                    <md-button class="md-raised md-warn" ng-click="cancelUpload()" ng-show="myFile != undefined">Cancelar</md-button>
                </div>
            </div>
            <br>
            <form>
                <md-input-container class="md-icon-float md-block">
                    <!-- Use floating label instead of placeholder -->
                    <label>Nombre:</label>
                    <md-icon class="fa fa-user"></md-icon>
                    <input ng-model="UpdatedUser.name" value="hola" type="text">
                </md-input-container>
            </form>
            <form>
                <md-input-container class="md-icon-float md-block">
                    <!-- Use floating label instead of placeholder -->
                    <label>Nombre de usuaurio:</label>
                    <md-icon class=""><b>@</b></md-icon>
                    <input ng-model="UpdatedUser.username" type="text">
                </md-input-container>
            </form>
            <form>
                <md-input-container class="md-icon-float md-block">
                        <!-- Use floating label instead of placeholder -->
                        <label>Correo electrónico:</label>
                        <md-icon class="fa fa-envelope"></md-icon>
                        <input ng-model="UpdatedUser.email" type="email">
                </md-input-container>
            </form>
            <form>
                <md-input-container class="md-icon-float md-block">
                        <!-- Use floating label instead of placeholder -->
                        <label>Descripción:</label>
                        <md-icon class="fa  fa-font"></md-icon>
                        <input ng-model="UpdatedUser.description" type="text">
                </md-input-container>
            </form>
            <form>
                <md-input-container class="md-icon-float md-block">
                    <!-- Use floating label instead of placeholder -->
                    <label>Modifica tu imagen desde un enlace:</label>
                    <md-icon class="fa fa-picture-o"></md-icon>
                    <input ng-model="UpdatedUser.photo" type="url">
                </md-input-container>
            </form>
            <form>
                <md-input-container class="md-icon-float md-block">
                    <label>Invita a tus amigos con este codigo y gana puntos</label>
                    <md-icon class="fa fa-user-plus"></md-icon>
                    <input ng-model="UpdatedUser.referalid" type="text">
                </md-input-container>
            </form>
            <form>
                <md-input-container class="md-icon-float md-block">
                    <!-- Use floating label instead of placeholder -->
                    <label>Contraseña:</label>
                    <md-icon class="fa  fa-key"></md-icon>
                    <input ng-model="PassFun.password" type="password">
                </md-input-container>
            </form>
            <form>
                <md-input-container class="md-icon-float md-block">
                    <!-- Use floating label instead of placeholder -->
                    <label>Repetir Contraseña:</label>
                    <md-icon class="fa fa-unlock-alt"></md-icon>
                    <input ng-model="PassFun.test" type="password">
                </md-input-container>
            </form>
            <md-button class="md-raised md-primary" style="background-color: #00ADB5; float: right" ng-click="UpdateName(); UpdateUsername(); UpdateEmail(); UpdateDescription(); UpdatePhoto();">Guardar cambios</md-button>
            <md-button class="md-primary md-raised demo-dialog-open-button" ng-click="UpdatePassword()" style="float: right">Modificar contraseña</md-button>
        </md-card-content>
    </md-card>
    </div>
    <div class="col-md-5">
        <div class="row">
            <md-card>
                <md-card-header class="customColor">
                    <div class="panel-title"><b><i class="fa fa-users"></i> QR de Invitación:</b></div>
                </md-card-header>
                <md-card-content>
                    <div class="center-block" style="height:180px; width:180px;">
                        <qrcode version="5" error-correction-level="M" size="275" data="{{UserProfileInfo.referalid}}"
                        ></qrcode>
                    </div>
                </md-card-content>
            </md-card>
        </div>
        <div class="row">
            <md-card>
                <md-card-header class="customColor">
                    <div class="panel-title"><b><i class="fa fa-users"></i> Administrar Seguidores:</b></div>
                </md-card-header>
                <md-card-content>
                    <!-- List group -->
                    <md-list style="background-color: white">
                        <md-list-item class="md-1-line" ng-repeat="FollowingUser in FollowingUsers track by  $index" id="{{FollowingUser._id}}">
                            <a ng-href="#/userprofile/{{FollowingUser._id}}"><img class="md-avatar" ng-src="{{FollowingUser.photo}}"></a>
                            <h4>{{FollowingUser.username}}</h4>
                            <md-button class="md-raised md-warn md-secondary" ng-click="StopFollowUser(FollowingUser._id)">Dejar de seguir</md-button>
                            <md-divider ng-hide="$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>
        </div>

    </div>
    </div>
    </div>
</div>

