<div class="ProfilePadding" ng-controller="PublicUserProfileCtrl">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <md-card>
                    <img ng-src="{{pUserProfileInfo.photo}}" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{pUserProfileInfo.username}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p>
                            {{pUserProfileInfo.description}}
                        </p>
                    </md-card-content>
                    <md-card-actions layout="column" layout-align="start">
                        <md-button ng-if="pUserProfileInfo._id != UserSessionId._id && isfollowing == 'false'"  class="md-raised" style="background-color: #00ADB5; color: white" ng-click="followUser()"><b>Seguir</b></md-button>
                        <md-button ng-if="pUserProfileInfo._id != UserSessionId._id && isfollowing == 'true'"  class="md-raised md-warn" ng-click="stopfollowUser()"><b>Dejar de Seguir</b></md-button>
                    </md-card-actions>
                </md-card>
                </div>
            <div class="col-sm-6 col-md-2">
                <md-card>
                    <md-card-header class="customColor">
                        <md-card-header-text>
                            <span class="panel-title"><b><i class=" fa fa-diamond"></i> Rango:</b></span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <img ng-if="AdventuresLength >=0 && AdventuresLength <3" class="img-responsive center-block" height="65px" width="65px" src="../images/CAmpista.png">
                        <img ng-if="AdventuresLength >= 3 && AdventuresLength <10" class="img-responsive center-block" height="65px" width="65px" src="../images/Navegante.png">
                        <img ng-if="AdventuresLength >= 10 && AdventuresLength<20" class="img-responsive center-block" height="65px" width="65px" src="../images/Montañero.png">
                        <img ng-if="AdventuresLength >= 20 " class="img-responsive center-block" height="65px" width="65px" src="../images/Aventurero.png">
                    </md-card-content>
                </md-card>
            </div>
            <div class="col-sm-6 col-md-3">
                <md-card>
                    <md-card-header class="customColor">
                        <md-card-header-text>
                            <div class="panel-title"><b><i class=" fa fa-users"></i> Siguiendo | Seguidores</b></div>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <h1 class="text-center">{{pUserProfileInfo.following.length}} | {{pUserProfileInfo.followers.length}}</h1>
                    </md-card-content>
                </md-card>
            </div>
            <div class="col-sm-6 col-md-2">
                <md-card>
                    <md-card-header class="customColor">
                        <md-card-header-text>
                            <div class="panel-title"><b><i class=" fa fa-tree"></i> Creadas:</b></div>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <h1 class="text-center">{{CreatedAdventures.length}}</h1>
                    </md-card-content>
                </md-card>
            </div>
            <div class="col-sm-6 col-md-2">
                <md-card>
                    <md-card-header class="customColor">
                        <md-card-header-text>
                            <div class="panel-title"><b><i class=" fa fa-map-signs"></i> Jugadas:</b></div>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <h1 class="text-center">{{pUserProfileInfo.adventures.played.length}}</h1>
                    </md-card-content>
                </md-card>
            </div>
            <div class="col-md-9">
                <md-card ng-repeat="CreatedAdventure in CreatedAdventures">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{CreatedAdventure.name}}</span>
                            <span class="md-subhead">{{CreatedAdventure.description}}</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="card-media">
                                <img class="img-rounded" style="max-height: 170px; max-width: 400px" ng-src="{{CreatedAdventure.image}}">
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions style="background-color: #00ADB5; color: white">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-10">
                                    <div class="col-md-3">
                                        <h5><b>Dificultad:</b> {{CreatedAdventure.difficulty}}</h5>
                                    </div>
                                    <div class="col-md-7">
                                        <h5><b>Favs:</b> {{CreatedAdventure.favs}}</h5>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <md-button href="#/adventureprofile/{{CreatedAdventure._id}}">Detalles</md-button>
                                </div>
                            </div>
                        </div>
                    </md-card-actions>
                </md-card>
                </div>
            </div>
        </div><!--END ROW-->
        </div>
    </div>
</div>