<div class="ProfilePadding" ng-controller="PublicUserProfileCtrl">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <md-card>
                    <img ng-src="{{pUserProfileInfo.photo}}" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{pUserProfileInfo.username}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p>
                            {{pUserProfileInfo.description}}
                        </p>
                    </md-card-content>
                    <md-card-actions layout="column" layout-align="start">
                        <md-button ng-if="pUserProfileInfo._id != UserSessionId._id && isfollowing == 'false'"  class="md-raised" style="background-color: limegreen; color: white" ng-click="followUser()"><b>Seguir</b></md-button>
                        <md-button ng-if="pUserProfileInfo._id != UserSessionId._id && isfollowing == 'true'"  class="md-raised md-warn" ng-click="stopfollowUser()"><b>Dejar de Seguir</b></md-button>
                        <br>
                        <div ng-if="FollowError" class="alert alert-danger text-center " role="alert">{{FollowError}}</div>
                        <div ng-if="FollowSucces" class="alert alert-success text-center" role="alert">{{FollowSucces}}</div>
                    </md-card-actions>
                </md-card>
                </div>
            <div class="col-sm-6 col-md-2">
                <md-card>
                    <md-card-header class="customColor">
                        <md-card-header-text>
                            <span class="panel-title"><b><i class=" fa fa-diamond"></i> Rango:</b></span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <img ng-if="AdventuresLength >=0 && AdventuresLength <3" class="img-responsive center-block" height="65px" width="65px" src="../images/CAmpista.png">
                        <img ng-if="AdventuresLength >= 3 && AdventuresLength <10" class="img-responsive center-block" height="65px" width="65px" src="../images/Navegante.png">
                        <img ng-if="AdventuresLength >= 10 && AdventuresLength<20" class="img-responsive center-block" height="65px" width="65px" src="../images/Montañero.png">
                        <img ng-if="AdventuresLength >= 20 " class="img-responsive center-block" height="65px" width="65px" src="../images/Aventurero.png">
                    </md-card-content>
                </md-card>
            </div>
            <div class="col-sm-6 col-md-3">
                <md-card>
                    <md-card-header class="customColor">
                        <md-card-header-text>
                            <div class="panel-title"><b><i class=" fa fa-users"></i> Siguiendo | Seguidores</b></div>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <h1 class="text-center">{{pUserProfileInfo.following.length}} | {{pUserProfileInfo.followers.length}}</h1>
                    </md-card-content>
                </md-card>
            </div>
            <div class="col-sm-6 col-md-2">
                <md-card>
                    <md-card-header class="customColor">
                        <md-card-header-text>
                            <div class="panel-title"><b><i class=" fa fa-tree"></i> Creadas:</b></div>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <h1 class="text-center">{{CreatedAdventures.length}}</h1>
                    </md-card-content>
                </md-card>
            </div>
            <div class="col-sm-6 col-md-2">
                <md-card>
                    <md-card-header class="customColor">
                        <md-card-header-text>
                            <div class="panel-title"><b><i class=" fa fa-map-signs"></i> Jugadas:</b></div>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <h1 class="text-center">{{pUserProfileInfo.adventures.played.length}}</h1>
                    </md-card-content>
                </md-card>
            </div>
            <div class="col-sm-6 col-md-9" layout="column">
                <md-card>
                <md-card-header class="customColor">
                        <md-card-header-text>
                            <div class="panel-title"><b><i class=" fa fa-binoculars"></i> Aventuras Creadas recientemente:</b></div>
                        </md-card-header-text>
                </md-card-header>
                    <!-- List group -->
                    <md-card-content>
                        <md-list style="background-color: white">
                        <md-list-item class="md-2-line" ng-repeat="CreatedAdventure in CreatedAdventures">
                            <div ng-if="CreatedAdventures.length == 0" class="alert alert-success text-center" role="alert">¡<b>{{pUserProfileInfo.name}}</b> aun no ha creado ninguna aventura animale ha hacerlo!</div>
                            <div class="md-list-item-text">
                                <h3>{{CreatedAdventure.name}}</h3>
                                <p>{{CreatedAdventure.description}}</p>
                            </div>
                            <md-divider inset></md-divider>
                        </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
                </div>
            </div>
        </div><!--END ROW-->
        </div>
    </div>
</div>