<div id="AdventuresProfileContainer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <md-card>
                    <md-card-header class="customColor">
                        <div class="panel-title"><b><i class="fa fa-tree"></i> Aventuras Creadas:</b></div>
                    </md-card-header>
                    <md-card-content>
                        <!-- List group -->
                        <md-list style="background-color: white">
                            <md-list-item class="md-1-line">
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
            </div>
            <div class="col-md-4">
                <md-card>
                <md-card-header class="customColor">
                    <div class="panel-title"><b><i class="fa fa-star"></i> Aventuras Favoritas:</b></div>
                </md-card-header>
                <md-card-content>
                    <!-- List group -->
                    <md-list style="background-color: white">
                        <md-list-item class="md-1-line">
                        </md-list-item>
                    </md-list>
                </md-card-content>
                </md-card>
            </div>
            <div class="col-md-4">
                <md-card>
                    <md-card-header class="customColor">
                        <div class="panel-title"><b><i class="fa fa-map-signs"></i> Aventuras Jugadas:</b></div>
                    </md-card-header>
                    <md-card-content>
                        <!-- List group -->
                        <md-list style="background-color: white">
                            <md-list-item class="md-1-line">
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</div>
