<div id="AdventuresProfileContainer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <div class="col-md-4">
                <div class="col-md-12">
                    <md-card>
                        <md-card-header class="customColor">
                            <div class="panel-title"><b><i class="fa fa-tree"></i> Aventuras Creadas:</b></div>
                        </md-card-header>
                        <md-card-content>
                            <!-- List group -->
                            <div class="" ng-repeat="creada in creadas track by $index">
                                <a href="#/adventureprofile/{{creada._id}}" style="color: inherit">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img ng-src="{{creada.image}}" class="img-rounded" height="65px"   width="65px">
                                        </div>
                                        <div class="col-md-8" style="padding-top: 1em">
                                            <h4>{{ creada.name }}</h4>
                                        </div>
                                    </div>
                                <hr ng-hide="$last">
                                </a>
                          </div>
                            <div ng-if="creadas.length == 0">
                                <div class="row" style="padding-top: 3em">
                                    <div class="col text-center">
                                        <h4 style = "color: dimgrey">No tiene aventuras creadas, <br>
                                            cree una aventura!</h4>
                                    </div>
                                </div>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <md-card>
                        <md-card-header class="customColor">
                            <div class="panel-title"><b><i class="fa fa-heart"></i> Aventuras Favoritas:</b></div>
                        </md-card-header>
                        <md-card-content>
                            <div ng-if="favoritas.length == 0" class="text-center">
                                <h4 style = "color: dimgrey">Añade aventuras a tus favoritas</h4>
                            </div>
                            <!-- List group -->
                                <div class="" ng-repeat="favorita in favoritas track by $index" ng-click="PerfilAventura(favorita._id)">
                                <div class="row">
                                    <a href="#/adventureprofile/{{favorita._id}}" style="color: inherit">
                                        <div class="col-md-4">
                                            <img ng-src="{{favorita.image}}" class="img-rounded" height="65px"   width="65px">
                                        </div>
                                        <div class="col-md-5" style="padding-top: 1em">
                                            <h4>{{ favorita.name }}</h4>
                                        </div>
                                    </a>
                                    <div class="col-md-2" style="padding-top: 1em; align-content: center">
                                        <md-button class="md-icon-button" aria-label="Favorite" ng-click="UnFavAdventure(favorita._id)">
                                            <i style="color: red" class="fa fa-heart"></i>
                                        </md-button>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                                <hr ng-hide="$last">
                             </div>
                            </a>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <md-card>
                        <md-card-header class="customColor">
                            <div class="panel-title"><b><i class="fa fa-map-signs"></i> Aventuras Jugadas:</b></div>
                        </md-card-header>
                        <md-card-content>
                            <div ng-if="jugadas.length == 0" class="text-center">
                                <h4 style = "color: dimgrey">No ha jugado ninguna aventura</h4>
                            </div>
                            <!-- List group -->
                            <div class="" ng-repeat="jugada in jugadas track by $index">
                                <a href="#/adventureprofile/{{jugada._id}}" style="color: inherit">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img ng-src="{{jugada.image}}" class="img-rounded" height="65px"   width="65px">
                                        </div>
                                        <div class="col-md-8" style="padding-top: 1em">
                                            <h4>{{ jugada.name }}</h4>
                                        </div>
                                    </div>
                                    <hr ng-hide="$last">
                                </a>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
