<div id="AdventuresProfileContainer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-success PersonalPanel">
                    <div class="panel-heading">
                        <div class="panel-title"><b><i class="fa fa-tree"></i> Aventuras Creadas:</b></div>
                    </div>
                        <ul class="list-group">
                        <li class="list-group-item">Aventura 1</li>
                        <li class="list-group-item">Aventura 2</li>
                        <li class="list-group-item">Aventura 1</li>
                        <li class="list-group-item">Aventura 2</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-success PersonalPanel">
                    <div class="panel-heading">
                        <div class="panel-title"><b><i class="fa fa-get-pocket"></i> Aventuras Guardadas:</b></div>
                    </div>
                        <ul class="list-group">
                            <li class="list-group-item">Aventura 1</li>
                            <li class="list-group-item">Aventura 2</li>
                            <li class="list-group-item">Aventura 1</li>
                            <li class="list-group-item">Aventura 2</li>
                        </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-success PersonalPanel">
                    <div class="panel-heading">
                        <div class="panel-title"><b><i class="fa fa-map-signs"></i> Aventuras Jugadas:</b></div>
                    </div>
                        <ul class="list-group">
                            <li class="list-group-item">Aventura 1</li>
                            <li class="list-group-item">Aventura 2</li>
                            <li class="list-group-item">Aventura 1</li>
                            <li class="list-group-item">Aventura 2</li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</div>
