/*----------------Banner Style-------------------*/
#banner {
    background-color: #00ADB5;
    background-image: url(/../images/mountain4.png);
    color: #fff;
    padding: 120px 25px;
    font-family: Montserrat, sans-serif;
    height: 370px;
}




