/*----------Maps Style-----------*/
.angular-google-map-container {
    height: 80vh;
}
#LateralMenu{
    padding-top: 20px;
}

.PaddingBodyMap{
    padding-top: 3%;
}
/**
[ng-app="GeoFinder"] {
    height: 100vh;
    width: 100vw;
}
**/