/*----------Maps Style-----------*/
.angular-google-map-container {
    height: 90vh;
}
.PanelColor {
    border-color: #00ADB5;
}
.Padding {
    padding-top: 3%;
}

.scrollFix {
    line-height: 1.35;
    overflow: hidden;
    white-space: nowrap;
}
.mdcard {
    border-width: 0px;
    border-style: hidden;
    margin: 0px;
}

/**
[ng-app="GeoFinder"] {
    height: 100vh;
    width: 100vw;
}
**/