/*----------------Body Style-------------------*/
body {
  font: 14px "Monospaced", Helvetica, Arial, sans-serif;
  font-family: Montserrat, sans-serif;
  background-color: #ebeef2;
}

a {
  color: #00B7FF;
}

/*---------------------Main Padding ----------------------*/

.main{
  padding-top: 3%;
  padding-bottom: 5%;
  background-color: #ebeef2;
}
/*---------------------User Home ----------------------*/
.UserHomeLog{
  padding-top: 3%;
  padding-bottom: 5%;
}

/*----------------Navbar Style-------------------*/

#navbarstyle.navbar-default{
  background-color: #00ADB5;
  border-bottom-color: #00ADB5;
}
#navbarstyle.navbar-default .navbar-brand{
  color: white;
}

#imgbrand{
  height:  35px;
  margin-top: -7px;
  margin-right:5px;
}

.img-size-header{
  height:  38px;
  margin-top: -4px;
}

.navbarr-position{
  margin-top: 10px;
}

/*----------Footer Style-----------*/
#Footer{
  background-color: #00ADB5;
  color: white;
}

/*-------------------------------Global Styles-------------------------------------*/

/*----------Input Style-----------*/
.InputStyle{
  border-radius: 2%;
}

.ButtonStyle{
  border-radius: 2%;
}

/*---------Back containers colors------*/
.bg-blue{
  background-color: #00ADB5;
  color: white;
}
/*--------The fixed navbar will overlay your other content, unless you add padding to the top of the body.--*/
body {
  padding-top: 2.4%;
}

.transparent {
  background: rgba(19, 35, 47, 0.9);
  opacity: 0.9;
  z-index: 2050;
}
.transparent2 {
  background: rgba(19, 35, 47, 0.9);
  opacity: 0.7;
  z-index: 2050;
}


.typeahead-demo .custom-popup-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  background-color: #f9f9f9;
}

.typeahead-demo .custom-popup-wrapper > .message {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  color: #868686;
}

.typeahead-demo .custom-popup-wrapper > .dropdown-menu {
  position: relative;
  float: none;
  display: block;
  min-width: 60px;
  background-color: white;
  border: none;
  border-radius: 0;
  box-shadow: none;
  z-index: -1;

}

.dropdown {
  display:inline-block;
  margin-left:20px;
  padding:10px;
}



/*--------Personal panel style--*/
.PersonalPanel {
  border-color: transparent;
;
}
.PersonalPanel> .panel-heading {
  background: #00ADB5;
  color: #ffffff;
  border-color: #00ADB5;
}